
*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
}

.hamburgerMenu div{
height: 5px;
width: 100%;
background: white;
border-radius: 10px;
}




.form{
height: fit-content;
align-items: center;
background-color: white;
border-radius: 10px;
display: flex;
flex-direction: column;
padding: 25px 15px;
row-gap: 30px;
}

.form input{
  border: 1.5px solid;
  border-color: grey;
}

.edit-form input{
  margin-bottom: 50px;
  border: 1.5px solid dimgrey;

}



input::-webkit-file-upload-button{
  border: none;
  background: lightcoral;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
}




@media screen and (max-width:480px) {
 .form{
  min-width: 80%;
 } 
}
@media screen and (min-width:481px) and (max-width:767px) {
  .form{
    min-width: 80%;
   } 
}
@media screen and (min-width:768px) and (max-width:1279px) {
  .form{
    width: 400px;
   } 
}
@media screen and (min-width:1280px) {
  .form{
    width: 400px;
   } 
}
